---
- name: Clone the repository
  git:
    repo: "{{ app_repo }}"
    dest: "{{ app_path }}"
    version: main
    force: yes

- name: Read current color
  slurp:
    src: /etc/server/current_color
  register: current_color_file

- set_fact:
    current_color: "{{ current_color_file.content | b64decode | trim }}"

- set_fact:
    target_color: "{{ 'green' if current_color == 'blue' else 'blue' }}"

- set_fact:
    node_app_port: "{{ blue_port if target_color == 'blue' else green_port }}"

- name: Create .env file for Docker Compose
  ansible.builtin.template:
    src: .env.j2
    dest: "{{ app_path }}/server/.env"
    owner: root
    group: root
    mode: '0600'

- name: Start Node.js and MongoDB containers with Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}/server"
    project_name: "server_{{ target_color }}"
    build: always
    state: present
  environment:
    PORT: "{{ node_app_port }}"
    TARGET_COLOR: "{{ target_color }}"
    MONGO_URI: "{{ mongo_uri }}"
    MONGO_INITDB_ROOT_USERNAME: "{{ mongo_initdb_root_username }}"
    MONGO_INITDB_ROOT_PASSWORD: "{{ mongo_initdb_root_password }}"
